<!-- Navigation -->
<nav class="navbar fixed-top navbar-light bg-fade" id="mainNav"> <!--fixed-top/sticky-top navbar-toggleable-md-->
    <button class="navbar-toggler navbar-toggler-right" style="color:teal;" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> MENU
    </button>
    <div class="container">
        <a class="navbar-brand" href="#" style="color:teal;"> <i class="fa fa-send"></i> <i style="text-decoration:overline;"> SMART </i> <i style="text-decoration:underline;">CAREER</i>   <p style="font-size: 14px;"><small>JOB PORTAL</small></p></a>
        <div class="collapse navbar-collapse" id="navbarExample">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#home"><i class="fa fa-home"></i>&nbsp; Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about"><i class="fa fa-thumbs-up"></i>&nbsp; About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services"><i class="fa fa-gears"></i>&nbsp; Our Services</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team"><i class="fa fa-users"></i>&nbsp; Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume"><i class="fa fa-file-text"></i>&nbsp; Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact"><i class="fa fa-comments"></i>&nbsp; Contact</a>
                </li>
            </ul>
            <app-user></app-user>
        </div>
    </div>
</nav>