<header class="masthead"  id="home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">Choose a job you love, and you will never have to work a day in your life. <br> <p style="font-size:20px;"><small> —Confucius </small></p></h1>
            <hr>
            <p>Every corporate human resources team is the key to effective management of business's most valuable resource-their employees. Called upon to staff and manage personnel resources from entry-level positions to executives, your professional HR staff stands at the center of employee recruitment,..</p>
            <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading text-white">More about India’s Leading Recruitment Marketplace <strong><i> SmartCareer </i></strong></h2>
                <hr class="light">
                <p class="text-faded">Want to know about our early days, members, metrics, and more? Here’s a quick view of who we are.</p>
                <a class="btn btn-default btn-xl sr-button" href="#services">Join the Force</a>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <i class="fa fa-4x fa-rocket"></i>
                <h2 class="section-heading text-white">MISSION</h2>
                <hr class="light">
                <p class="text-faded">We’re here to solve the hiring woes once and for all, across all job hierarchies, industries, cities and for all parties concerned - employers, recruitment consultants and job seekers.</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-4x fa-eye"></i>
                <h2 class="section-heading text-white">VISION</h2>
                <hr class="light">
                <p class="text-faded">As part of the India story, we seek to leverage India’s rich human resource by making hiring easy for all parties involved - candidates, employers as well as recruitment consultants. Our target is to cross over 1 million joinings annually. To achieve this, we have initiated the process of creating a recruitment marketplace where recruiters help companies hire and grow by using a highly curated process of searching and screening candidates.</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-4x fa-book"></i>
                <h2 class="section-heading text-white">WORK CULTURE</h2>
                <hr class="light">
                <p class="text-faded">"Work/life balance is not about escaping work. It’s about living exactly the way you want to when you’re at work. Workplace is the best possible place to practice fulfillment, to live out values and to realize deep connectivity and purpose" <br>
                    - Stan Slap
                </p>
            </div>
            
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o text-primary sr-icons"></i>
                    <h4>Recruitment</h4>
                    <p class="text-muted">Think about what you want from your next job. Do you want a permanent or temporary role? Do you want to work part-time or full-time, or as a contractor or freelancer?  </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-map-marker text-primary sr-icons"></i>
                    <h4>Regular Trainings</h4>
                    <p class="text-muted">Our courses develop core communication, relationship and customer service skills, improving personal effectiveness and maximising team performance. </p>
                </div>
            </div>
             <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-calendar text-primary sr-icons"></i>
                    <h4>Development of Career</h4>
                    <p class="text-muted">We offers great career opportunities to multilingual professionals worldwide. We work with well renowned multinationals and recruit for international roles in many countries all over the world. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o text-primary sr-icons"></i>
                    <h4>Market Development</h4>
                    <p class="text-muted">Our recruitment consultants have an in depth knowledge of the job market to source the right candidates for high performance.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-briefcase text-primary sr-icons"></i>
                    <h4>Online & Social Media Marketing</h4>
                    <p class="text-muted">We take key elements of your brand, tied together with your online goals from your website whether they be client validation, candidate attraction, brand awareness. </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-credit-card text-primary sr-icons"></i>
                    <h4>Flexible Pricing</h4>
                    <p class="text-muted">We pride ourselves on providing a professional and efficient service but most importantly we are always there when you need us through our ongoing support. </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-primary" id="team" style="background-color:slateblue !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading text-white">Meet our professional team</h2>
                <hr class="light">
                <p class="text-faded">That people know’s how to...</p>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="http://www.menstylepower.com/wp-content/uploads/2015/11/Roger-Federer-acts-like-James-Bond-in-a-coffee-advertisement-img15022_668.jpg" style="border-radius:50%; height:100px; width:100px;" alt="Pic">
                <h2 class="section-heading text-white"><small>ROGER FEDERER </small> <br> <h6 class="text-faded" style="color:tomato;" >MARKET DEVELOPMENT MANAGER</h6></h2>
                <hr class="light">
                <p class="text-faded">We take the time to research our client's market, to fully understand each client's unique goals .</p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="http://www.unitedagents.co.uk/sites/default/files/thumbnails/image/rebecca-johnson-headshot.jpg" style="border-radius:50%; height:100px; width:100px;" alt="Pic">
                <h2 class="section-heading text-white"><small>REBECCA JOHNSON </small> <br> <h6 class="text-faded" style="color:tomato;">RECRUITER</h6></h2>
                <hr class="light">
                <p class="text-faded">We believe in people and their amazing potential. Whether you're looking for a job, seeking hires or thinking about working with us, you've come to the right place. </p>
            </div>
            <div class="col-lg-4 text-center">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAvBAAAAJDQ1MGY1OGI4LWJmY2ItNDg1ZS1iOWU2LWQzYjEwOTRkZWJlZA.jpg" style="border-radius:50%; height:100px; width:100px;" alt="Pic">
                <h2 class="section-heading text-white"><small>SIMON HUNTER </small> <br> <h6 class="text-faded" style="color:tomato;">RECRUITER</h6></h2>
                <hr class="light">
                <p class="text-faded">Thinking about a rewarding career in recruiting and client services? Learn more about our activity. <br>
                    - Stan Slap
                </p>
            </div> 
        </div>
    </div>
    <br>
    <div class="col-lg-8 offset-lg-2 text-center">
        <a class="btn btn-primary btn-xl" href="#services">ALL TEAMMATES</a>
    </div>
</section>

<section class="no-padding" id="resume">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=3iFJuJqKSK9Xj4LjsMIXqlzpNeM%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISIfYC2G8G2f1spyfNT-tdoDSf7ehsgUbeykBhlI_IfnwEXO5H9X-WIuGCqkY09aZX8OTTioeehMB3TtXyMlvOlx3kdKpF-qtMWsc8e1-TwyJC73iVV8vLQll8fq4GKH6GWxUi3WUbO71GJlCE-dQppFW22h8re_0RJ4smr5lxH4knlWWyJr1JBItzJeiOWyVERsbPUL5avVElJWO-xSbhgiGq1n2iJW-ULPzPqoyz0i7z_rgfCKXrCxtkG1B8y8RjcNPBCvRg-0SxEudGMkvUxXbi_XOcyCbrpwy6SoJ7OeOKEC1DX1ggwZ9QpH_vmAnHLyfxg7l7id1TNVlFgFYp-mWYMSS8l2aTiRDW36XRipRpon0nZvANNx9UNZQh8I9TskhdjosXeEFZx-NieRqIg">
                    <img class="img-fluid" src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=3iFJuJqKSK9Xj4LjsMIXqlzpNeM%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISIfYC2G8G2f1spyfNT-tdoDSf7ehsgUbeykBhlI_IfnwEXO5H9X-WIuGCqkY09aZX8OTTioeehMB3TtXyMlvOlx3kdKpF-qtMWsc8e1-TwyJC73iVV8vLQll8fq4GKH6GWxUi3WUbO71GJlCE-dQppFW22h8re_0RJ4smr5lxH4knlWWyJr1JBItzJeiOWyVERsbPUL5avVElJWO-xSbhgiGq1n2iJW-ULPzPqoyz0i7z_rgfCKXrCxtkG1B8y8RjcNPBCvRg-0SxEudGMkvUxXbi_XOcyCbrpwy6SoJ7OeOKEC1DX1ggwZ9QpH_vmAnHLyfxg7l7id1TNVlFgFYp-mWYMSS8l2aTiRDW36XRipRpon0nZvANNx9UNZQh8I9TskhdjosXeEFZx-NieRqIg" alt=""/>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Accounting
                            </div>
                            <div class="project-name">
                                Banking & Finance
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://blogs.webmd.com/art-of-relationships/files/2014/12/Being-Single.jpg">
                    <img class="img-fluid" src="http://blogs.webmd.com/art-of-relationships/files/2014/12/Being-Single.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Engineering
                            </div>
                            <div class="project-name">
                                Mechenical 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://www.therhinos.co.uk/images/news/Matthew-Lewis-profile.jpg">
                    <img class="img-fluid" src="http://www.therhinos.co.uk/images/news/Matthew-Lewis-profile.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Human Resources
                            </div>
                            <div class="project-name">
                                Marketing & Sales
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.mum.edu/wp-content/uploads/sites/2/2015/05/11128277_408341926015983_1387779746_n-650x350.jpg">
                    <img class="img-fluid" src="https://www.mum.edu/wp-content/uploads/sites/2/2015/05/11128277_408341926015983_1387779746_n-650x350.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Information Technology
                            </div>
                            <div class="project-name">
                                Software Development
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/eyewear_guide_slideshow/650x350_eyewear_guide_slideshow.jpg">
                    <img class="img-fluid" src="http://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/eyewear_guide_slideshow/650x350_eyewear_guide_slideshow.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Science & Biotech
                            </div>
                            <div class="project-name">
                                Biotechnology
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://www.mum.edu/wp-content/uploads/sites/2/2016/07/011.jpg">
                    <img class="img-fluid" src="https://www.mum.edu/wp-content/uploads/sites/2/2016/07/011.jpg" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Information Technology
                            </div>
                            <div class="project-name">
                                Electrical engineering
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<div class="call-to-action bg-dark">
    <div class="container text-center">
        <h2>BEST PROFESSIONAL TOOLS TO HELP YOU WITH JOB SEARCH</h2>
        <a class="btn btn-default btn-xl sr-button" routerLink="resumeupload">Resume Upload</a>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Have questions? Smartcareer knowledge you want to share? Head over to the <a href="#" style="text-decoration:none;">SmartCareer Help Forum.</a></p>
            </div>
            <div class="col-lg-4 offset-lg-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>+91-7891266698</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="feedback@smartcareer.com" style="text-decoration:none;">feedback@smartcareer.com</a></p>
            </div>
            <div class="col-lg-8 offset-lg-2 text-center">
                <p><b>Follow Us on Social Networks</b></p>
                <div>
                    <a href="https://www.facebook.com/smartcareer/" class="fa fa-facebook-square fa-3x sr-contact" style="text-decoration:none; margin-right:10px;"></a>
                    <a href="https://twitter.com/smartcareer/" class="fa fa-twitter-square fa-3x sr-contact" style="text-decoration:none; margin-right:10px;"></a>
                    <a href="https://in.pinterest.com/smartcareer/" class="fa fa-pinterest-square fa-3x sr-contact" style="text-decoration:none; margin-right:10px;"></a>
                    <a href="https://www.linkedin.com/smartcareer/" class="fa fa-linkedin-square fa-3x sr-contact" style="text-decoration:none; margin-right:10px;"></a>
                    <a href="https://www.instagram.com/smartcareer/" class="fa fa-instagram fa-3x sr-contact" style="text-decoration:none; margin-right:10px;"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-gmap></app-gmap>
<router-outlet></router-outlet>